<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layouttemplate :: layout( ~{::body})}">

<head>
    <meta charset="UTF-8">
    <title>Krisinformation</title>
</head>
<body>

<div class="col-md-12">
  <div class="row">

    <div class="kris_info">


          <tr th:each=" last10 : ${lastTen}">
            <div class="product" style="max-height: 400px">
              <div class="product-img" style="height: 145px">
                <img th:src="${(last10.getFilePath().substring(last10.getFilePath().length()-18)+'/'+ last10.getFileName())}" alt="">
                <div class="product-label">
                  <span class="sale" th:text="${last10.getCampaignPercentage()}"></span>
                  <span class="new">NEW</span>
                </div>
              </div>


              <div class="product-body">
                <p class="product-category" th:text="${last10.getCategoryName()}">Category</p>
                <h3 class="product-name"><a href="#" th:text="${last10.getName()}">product name goes here</a></h3>
                <div class="prices">
                  <h4 class="product-price" th:text="${last10.getCampaignPrice()}">$980.00 </h4>
                  <del class="product-old-price" th:text="${last10.getPrice()}"></del>


                </div>
</body>
</html>