<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layouttemplate :: layout (~{::body})}">
<head>

    <meta charset="UTF-8"/>
    <title>replace</title>

</head>
<body>


<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

        </div>


        <h1>Form</h1>
        <form action="#" th:action="@{/contact}" th:object="${email}" method="POST">
            <p>Name: <input type="text" th:field="*{emailName}"/></input>
            <p>E-post: <input type="text" th:field="*{email}"/></input>
            <p>Ärende: <input type="text" th:field="*{emailSubject}"/></input>
            <p>Message: <input type="text" th:field="*{emailContent}"/></input>
            <p><input type="submit" value="Submit" />
            <p type="reset" value="Reset" /></input>
        </form>


        <div id="slick-nav-1" class="products-slick-nav"></div>
    </div>
    <!-- /tab -->
</div>
<!-- Products tab & slick -->
<!-- /row -->

<!-- /container -->



</body>
</html>