<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layouttemplate :: layout( ~{::body})}">

<head>
    <meta charset="UTF-8">
    <title>Krisinformation</title>
</head>
<body>

<div class="container">
    <h1 style="margin-bottom: 50px">Krisinformation</h1>
    <tr th:each=" crisis : ${last10crisis}">
        <div class="single_info" style="margin-bottom: 30px; max-width: 1100px">
            <h2 class="title" style="font-weight: bold; margin-bottom: 30px" th:text="${crisis.getTitle()}"></h2>
            <div class="picture_text_button_emergency" style="display: flex">
                <div class="picture">
                    <img style="max-width: 350px; margin-bottom: 20px"
                         th:src="${crisis.getImageUrl()}"></img>
                </div>
                <div class="text_button_emergency" style="margin-left: 20px">
                    <div class="text" style="font-size: larger; margin-bottom: 15px"
                         th:text="${crisis.getText()}"></div>
                    <div class="button_emergency" style="display: flex">
                        <div class="link_button">
                            <link th:href="${crisis.getLinkUrl()}"></link>
                            <a class=" btn btn-default" th:href="${crisis.getLinkUrl()}">Läs mer</a>
                        </div>
                        <div class="emergency" th:text="${crisis.getEmergency()}"
                             style="font-size: larger; font-weight: bold; color: red"></div>
                    </div>
                </div>
            </div>
        </div>

    </tr>

</div>
</body>
</html>