<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layouttemplate :: layout (~{::body})}">
<head>

    <meta charset="UTF-8"/>
    <title>replace</title>

</head>
<body>


<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- section title -->

            <!-- /section title -->
            <!-- Products tab & slick -->
            <!-- /product -->
        </div>
        <div class="newsletter-container">

            <div class="newsletter-container">
                <form th:action="@{/admin/newsletter/{id} (id=${newsletter.id})}" th:object="${newsletter}" th:method="PUT">

                    <label>
                        <h2> Title: </h2>

                        <input type="text" th:field="*{greeting}" class="textBox"/>
                    </label>

                    <label class="textBoxNewsletter">
                        <h2> Content: </h2>
                        <textarea type="text" th:field="*{body}" class="textBoxNewsletter"> </textarea>

                    </label>
                    <input type="submit" value="Save changes" class="save-changes-newsletter-btn"/>
                </form>

            </div>

            </div>
        </div>

        <div id="slick-nav-1" class="products-slick-nav"></div>
    </div>
    <!-- /tab -->
</div>
</div>
</div>
<!-- Products tab & slick -->
</div>
<!-- /row -->
</div>
<!-- /container -->
</div>


</body>
</html>