<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layouttemplate :: layout (~{::body})}">
<head>
  <meta charset="UTF-8"/>
  <title>replace</title>
</head>
<body>


<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">

      <!-- section title -->
      <div class="col-md-12">
        <div class="section-title">
          <p th:text="${idnumber}"></p>
          <h3 class="title">New Products</h3>
          <div class="section-nav">
            <ul class="section-tab-nav tab-nav">

              <div class="btn-group dropdown-menu-right">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Categories
                </button>
                <div class="dropdown-menu">
                  <tr th:each="category : ${categories}">
                    <li><a th:href="'products'+'/'+ ${category.getId()}" th:text="${category.getName()}"></a></li>
                </div>
              </div>

              </tr>
            </ul>
          </div>
        </div>
      </div>


      <!-- /section title -->
      <!-- Products tab & slick -->
      <div class="col-md-12">
        <div class="row">

          <div class="products-tabs">
            <!-- tab -->


            <div id="tab1" class="tab-pane active">
              <div class="products-slick" data-nav="#slick-nav-1">
                <!-- product -->
                <tr th:each=" last10 : ${lastTen}">
                  <div class="product">
                    <div class="product-img">
                      <img th:src="${(last10.getFilePath().substring(last10.getFilePath().length()-18)+'/'+ last10.getFileName())}" alt="">
                      <div class="product-label">
                        <span class="sale" th:text="${last10.getCampaignPercentage()}"></span>
                        <span class="new">NEW</span>
                      </div>
                    </div>


                    <div class="product-body">
                      <p class="product-category" th:text="${last10.getCategoryName()}">Category</p>
                      <h3 class="product-name"><a href="#" th:text="${last10.getName()}">product name goes here</a></h3>
                      <div class="prices">
                        <h4 class="product-price" th:text="${last10.getCampaignPrice()}">$980.00 </h4>
                        <del class="product-old-price" th:text="${last10.getPrice()}"></del>

                      </div>
                      <div class="product-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                      <div class="product-btns">
                        <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                        <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                        <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                      </div>
                    </div>

                    <div class="add-to-cart">
                      <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                    </div>
                  </div>
              </div>
              </tr>
              <!-- /product -->


            </div>
            <div id="slick-nav-1" class="products-slick-nav"></div>
            <!-- /tab -->
          </div>
        </div>
      </div>

      <!-- Products tab & slick -->

    </div>
    <!-- /row -->
  </div>

  <!-- /container -->
</div>



</body>
</html>