<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layouttemplate :: layout (~{::body})}">
<head>
    <meta charset="UTF-8"/>
    <title>replace</title>
</head>
<body>
<div class="container">

    <h1 th:text ="${category1}">Products</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Stock level</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${beverages}">
            <td th:text="${product.getName()}"></td>
            <td th:text="${product.getPrice()}"></td>
            <td th:text="${product.getStockLevel()}"></td>
        </tr>
        </tbody>
    </table>

</div>

<div class="container">

    <h1 th:text ="${category2}">Products</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Stock level</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${condiments}">
            <td th:text="${product.getName()}"></td>
            <td th:text="${product.getPrice()}"></td>
            <td th:text="${product.getStockLevel()}"></td>
        </tr>
        </tbody>
    </table>

</div>

<div class="container">

    <h1 th:text ="${category3}">Products</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Stock level</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${confections}">
            <td th:text="${product.getName()}"></td>
            <td th:text="${product.getPrice()}"></td>
            <td th:text="${product.getStockLevel()}"></td>
        </tr>
        </tbody>
    </table>

</div>

<div class="container">

    <h1 th:text ="${category4}">Products</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Stock level</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${dairyproducts}">
            <td th:text="${product.getName()}"></td>
            <td th:text="${product.getPrice()}"></td>
            <td th:text="${product.getStockLevel()}"></td>
        </tr>
        </tbody>
    </table>

</div>

<div class="container">

    <h1 th:text ="${category5}">Products</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Stock level</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${grainscereals}">
            <td th:text="${product.getName()}"></td>
            <td th:text="${product.getPrice()}"></td>
            <td th:text="${product.getStockLevel()}"></td>
        </tr>
        </tbody>
    </table>

</div>

<div class="container">

    <h1 th:text ="${category6}">Products</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Stock level</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${meatpoultry}">
            <td th:text="${product.getName()}"></td>
            <td th:text="${product.getPrice()}"></td>
            <td th:text="${product.getStockLevel()}"></td>
        </tr>
        </tbody>
    </table>

</div>

<div class="container">

    <h1 th:text ="${category7}">Products</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Stock level</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${produce}">
            <td th:text="${product.getName()}"></td>
            <td th:text="${product.getPrice()}"></td>
            <td th:text="${product.getStockLevel()}"></td>
        </tr>
        </tbody>
    </table>

</div>

<div class="container">

    <h1 th:text ="${category8}">Products</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Stock level</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${seafood}">
            <td th:text="${product.getName()}"></td>
            <td th:text="${product.getPrice()}"></td>
            <td th:text="${product.getStockLevel()}"></td>
        </tr>
        </tbody>
    </table>

</div>





</body>
</html>