<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layouttemplate :: layout (~{::body})}">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8"/>
    <title>replace</title>
</head>
<body>
<div class="container">
    <tr th:each = "category : ${categories} ">
        <img th:src="${(category.getImagePath())}" class="img-thumbnail" alt="">
        <h1 th:text = "${category.category.getName()}"></h1>
        <p th:text = "${category.category.getDescription()}"></p>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            Edit
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form th:action="@{/admin/categories/edit/{id} (id=${category.category.id})}  " th:object="${categoryToEdit}" method="POST" enctype="multipart/form-data">

                            <div class="form-group">
                                <label> Category picture </label>
                                <input
                                        required ="true"
                                        type="file" name="image" accept="image/png, image/jpeg"


                                />
                            </div>

                            <div class="form-group">
                                <label> Category Name </label>
                                <input required="true"
                                       type="text"
                                       name="name"
                                       th:field="*{name}"
                                       class="form-control"
                                       placeholder="Enter new name "
                                />
                            </div>

                            <div class="form-group">
                                <label> Category Description </label>
                                <input
                                        required="true"
                                        type="text"
                                        name="description"
                                        class="form-control"
                                        th:field="*{description}"
                                        placeholder="Enter new description"
                                />
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Stock level</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${category.getProductList()}">
                <td th:text="${product.getName()}"></td>
                <td th:text="${product.getPrice()}"></td>
                <td th:text="${product.getStockLevel()}"></td>
            </tr>
            </tbody>
        </table>

    </tr>


</div>
<div>
    <a th:href="@{/admin/categories/new}" class="btn btn-primary btn-sm mb-3">New</a>

</div>


</body>
</html>